@media screen and (max-width: 576px) {
    .menu_lg {
        display: none;
    }
}

@media screen and (min-width: 577px) {
    .menu_sm {
        display: none;
    }
}

.notif:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}