.box_temp {
    background-color: white;
    border-radius: 0.375rem;
    border: 1px solid #CED4DA;
}

.box_upload {
    color: #bdbdbd;
    background-color: #FAFAFA;
    border-radius: 0.375rem;
    border: 2px dotted #CED4DA;
}