@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1 rem;
    background-color: #F9F9F9;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 28px ;
    font-weight: 700 ;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
}