.scroll_menu {
    display: block !important;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 0.063rem;
}

@media only screen and (max-width: 576px) {
    .add_product_sm {
        width: 100%;
    }

    .add_product_lg {
        display: none !important;
    }
}

@media only screen and (min-width: 577px) {
    .add_product_lg {
        color: #CED4DA;
        width: 100%;
        height: 23.6rem;
    }

    .add_product_sm {
        display: none;
    }

}