

@media (min-width: 576px) {
    .title_admin{
        text-align: center;
    }
    .box_profilAdmin{
        justify-content: center;
    }
}

@media (min-width: 992px){
    .title_admin{
        text-align: center;
    }
    .box_profilAdmin{
        justify-content: center;
    }
}