.bg_usebanner {
    background-color: grey;
    max-width: 80rem;
    margin: auto;
    margin-top: 3rem;
}

.imguser {
    width: 10rem;
    height: 7rem;
    margin: auto;
    margin-bottom: 1rem;
    background-color: black;
}

.btnusrprofile {
    margin-right: 1rem;
}

.usermenu {
    margin: auto;
}

.menuuser {
    background-color: grey;
    max-width: 25rem;
    height: 22rem;
    margin-top: 0.8rem;
}

.btnusermenu {
    margin: auto;
    width: 90%;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.txtmenuuser {
    margin-left: 1rem;
    padding-top: 1rem;
}