.featured {
    background-color: black;
}

.card:hover {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
}

.bg_ctabanner {
    background-image: url(../../Assets/image/LandingPage/img-bg-ctabanner.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}